@tailwind base;
@tailwind components;
@tailwind utilities;

.blur {
    filter: blur(10rem);
}

.calc-height {
    min-height: calc(100svh - 4.75rem - 2px);
}

.animation-right {
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
